-
    var links = [
    'Про нас',
    'Портфоліо',
    'Партнери',
    'Контакти',
    ];
header.header
    picture
        source(media="(min-width: 1441px)" srcset="assets/images/logo.svg")
        source(media="(max-width: 1440px)" srcset="assets/images/logo-mobile.svg")
        img(src="assets/images/logo.svg")
    .header__links
        each val in links
            a(href=val) #{val} 
