aside.sidepanel
    .sidepanel__text.text-white Showreel
    .sidepanel__svg
        svg(width='28' height='27' viewbox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M24.1459 27L3.8541 27C1.62396 27 0.173469 24.6531 1.17082 22.6584L6.5 12L11.3167 2.36656C12.4223 0.155416 15.5777 0.155414 16.6833 2.36656L26.8292 22.6584C27.8265 24.6531 26.376 27 24.1459 27Z' fill='#FF3300')


