
extends ../layout/main
block variable
  -
    var title_page = 'neboshill'
    var id_page = 'id-page-neboshill'
    var class_page = 'class-page-neboshill'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/neboshill.js')
block content
  section.main-section
    .header-neboshill
      .header-neboshill__title Smart Orange
      .header-neboshill__name REAL ESTATE
      .header-neboshill__year 2021

    .project
      .project__real-estate
        p REAL ESTATE
        p Project
        .project__link
          a( href="#" target="_blank") Visit website
      .project__title
        h1(data-span-entry1) Nebos’hill
        h1(data-span-entry2) premium
        h1(data-span-entry3) home
        .scroll-down.js-scroll-down
          p Europe, Ukraine
          .waves-container.js-scroll-down
            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" transform="rotate(-90 35 35)" fill="#072826"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31 40.242L35 45L39 40.242L35.7013 40.242L35.7013 25L34.2987 25L34.2987 40.242L31 40.242Z" fill="#F4F4F4"/>
            </svg>

    .main-section__img
      .main-section__img-conteiner
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/laptop-mob.png")
          img(class="laptop" src="./assets/images/neboshill/laptop.png" alt="Laptop")
      .main-section__deco
        img(src="./assets/images/neboshill/main-deco.png" alt="Decor")

  section.goals
    .header-goals
      .header-goals__title Nebos’hill
      .header-goals__logo-complex Residential complex logo
      .header-goals__logo-developer developer logo
    .goals__container
      .goals__title
        h2 Goals
      .goals__logo-complex
        <svg width="189" height="100" viewBox="0 0 189 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M120.265 18.0597C117.258 16.9619 114.214 15.8901 111.342 14.8807L109.084 14.095C106.691 13.2625 104.241 12.4092 101.801 11.5924C98.5801 10.4945 95.4221 9.42269 92.2537 8.36647C89.8345 7.56 86.6608 6.50379 83.4872 5.46318L83.378 5.42676L83.3259 2.60152L83.5549 2.67436L114.979 13.2677L81.3906 0V13.7048L81.3645 17.196C81.3645 20.6144 81.3333 24.0848 81.3281 27.446V28.2837C81.3281 31.8426 81.3281 35.6304 81.3697 39.3713C81.3697 42.6388 81.4218 45.9115 81.4634 49.1062L83.3832 48.7836C83.4248 45.5994 83.456 42.4307 83.4768 39.3713C83.4768 36.0726 83.508 32.7271 83.5132 29.5896V29.4179L88.2372 29.5896V47.9719L89.798 47.7066V29.6573L94.6937 29.8394V46.8897L95.8591 46.692V29.8706L97.5916 29.933V46.4006L98.3512 46.2758V29.9591L103.455 30.1464V45.4173L104.012 45.3236V30.1776L106.66 30.2764V44.8813L107.014 44.8241V30.2556L118.1 30.6979L109.443 29.8498V15.0472L111.165 15.5363C114.058 16.3583 117.159 17.2272 120.265 18.0597ZM89.2934 27.857L83.5132 27.2899V27.0558C83.5132 23.8195 83.5132 20.4791 83.482 17.17L83.3884 7.3727L83.6121 7.43513L89.1737 9.11051L89.2934 9.14693V27.857ZM92.5867 28.1796L90.8698 28.0131V9.64642L92.5867 10.1667V28.1796ZM98.424 28.7519L93.7416 28.2941V10.4997L93.9602 10.5622L98.3304 11.8369L98.45 11.8733L98.424 28.7519ZM102.659 29.1682L99.1888 28.83V12.097L102.659 13.1064V29.1682ZM107.217 29.6157L103.216 29.2254V13.2729L103.434 13.3354L107.076 14.376L107.201 14.4124L107.217 29.6157ZM109.272 29.8186L107.57 29.6573V14.5217L109.272 15.0055V29.8186Z" fill="#072826"/>
        <path d="M11.836 65.5854L11.8777 79.0301H11.7788L0.978099 68.879H0.905262L0.931275 79.0301H0.0416212L0 65.5854H0.0988505L10.8944 75.7366H10.9724L10.9256 65.5854H11.836Z" fill="#072826"/>
        <path d="M33.0275 65.5869V66.6275H26.0195V71.4403H32.0338V72.3248H26.0195V77.9441H33.0223V78.9847H24.2506L24.209 65.5713L33.0275 65.5869Z" fill="#072826"/>
        <path d="M43.7021 65.6025H48.5666C49.1657 65.5909 49.7618 65.6897 50.3251 65.8938C50.7789 66.0644 51.1957 66.3205 51.553 66.6483C51.8569 66.9347 52.0994 67.2798 52.2657 67.6629C52.4156 68.0079 52.4952 68.3794 52.4998 68.7555C52.5062 69.1597 52.4152 69.5594 52.2345 69.921C52.0517 70.277 51.8048 70.5963 51.5061 70.8627C51.1985 71.1434 50.847 71.3719 50.4656 71.5391C50.0616 71.7141 49.626 71.8045 49.1857 71.8045V71.8773C49.5625 71.9018 49.9377 71.947 50.3095 72.0126C50.7855 72.0883 51.2459 72.2412 51.6726 72.4653C52.1241 72.7061 52.5154 73.0458 52.8172 73.459C53.1645 73.9718 53.3361 74.5834 53.3063 75.2021C53.3088 75.6705 53.2278 76.1357 53.0669 76.5757C52.9028 77.0383 52.6339 77.4568 52.2813 77.7984C51.8689 78.188 51.3799 78.4875 50.8454 78.6777C50.1377 78.92 49.3925 79.0345 48.6447 79.0159H43.7542L43.7021 65.6025ZM47.8175 71.4611C48.1901 71.4616 48.5599 71.3964 48.91 71.2686C49.2415 71.1496 49.5497 70.9735 49.8205 70.7483C50.0828 70.5192 50.2938 70.2373 50.4396 69.921C50.5892 69.5948 50.6639 69.2392 50.6581 68.8804C50.6569 68.5788 50.6041 68.2796 50.502 67.9959C50.3909 67.6976 50.213 67.4289 49.9818 67.2102C49.733 66.9662 49.435 66.7781 49.1077 66.6587C48.6944 66.5092 48.2568 66.4386 47.8175 66.4506H45.4658V71.4819L47.8175 71.4611ZM48.3377 78.173C48.7385 78.1746 49.137 78.1132 49.5187 77.9909C50.0652 77.8133 50.5399 77.4643 50.8726 76.9957C51.2053 76.5272 51.3782 75.9639 51.3657 75.3894C51.367 74.9884 51.291 74.5909 51.1419 74.2187C50.9947 73.8405 50.7634 73.5007 50.4656 73.2249C50.1287 72.9244 49.7339 72.696 49.3054 72.5537C48.7712 72.3814 48.2122 72.2988 47.651 72.3092H45.5075V78.1782L48.3377 78.173Z" fill="#072826"/>
        <path d="M63.3589 70.0503C63.6423 69.2427 64.0866 68.5011 64.6648 67.8702C65.3 67.1731 66.0699 66.612 66.928 66.2209C67.965 65.7592 69.0916 65.5335 70.2264 65.5601C71.3823 65.5314 72.5306 65.7533 73.5926 66.2105C74.482 66.6022 75.2862 67.1643 75.9598 67.865C76.5602 68.4894 77.0306 69.2269 77.3437 70.0347C77.6293 70.7395 77.7827 71.4908 77.7963 72.2512C77.7966 72.7401 77.7301 73.2267 77.5986 73.6976C77.457 74.2233 77.2562 74.7312 77.0003 75.2117C76.426 76.2943 75.5705 77.202 74.5238 77.8392C73.9314 78.2012 73.2926 78.4813 72.6249 78.6717C71.8584 78.8886 71.0646 78.9937 70.2681 78.9839C69.1343 79.0166 68.0075 78.7962 66.9696 78.3387C66.1081 77.9458 65.3348 77.3831 64.696 76.6842C64.117 76.0539 63.6695 75.3146 63.3797 74.5093C63.1112 73.8023 62.9668 73.0542 62.9531 72.298C62.9612 71.5313 63.0984 70.7714 63.3589 70.0503ZM65.2735 74.6706C65.5344 75.3592 65.9247 75.9914 66.4233 76.5333C66.9092 77.0487 67.4952 77.4594 68.1454 77.7404C68.8255 78.0321 69.5593 78.1775 70.2993 78.167C71.0437 78.1723 71.7809 78.0216 72.4636 77.7248C73.1308 77.4396 73.7354 77.0259 74.2429 76.5072C74.7647 75.9705 75.1749 75.3356 75.4499 74.6394C75.7515 73.8815 75.9018 73.072 75.8921 72.2564C75.8962 71.4403 75.7425 70.6311 75.4395 69.8734C75.1555 69.1824 74.7423 68.552 74.2221 68.0159C73.7094 67.5013 73.1015 67.0914 72.4324 66.8088C71.7479 66.5188 71.0114 66.3718 70.2681 66.3769C69.5272 66.3731 68.7936 66.5238 68.1142 66.8192C67.4652 67.1066 66.8811 67.5226 66.3973 68.0419C65.9015 68.5839 65.5146 69.2163 65.2579 69.9046C64.7064 71.4454 64.7064 73.1298 65.2579 74.6706H65.2735Z" fill="#072826"/>
        <path d="M88.5702 75.478C88.596 75.7393 88.6482 75.9973 88.7263 76.2481C88.8335 76.5771 89.0111 76.8789 89.2465 77.1326C89.565 77.4563 89.9503 77.7067 90.3755 77.8662C91.0041 78.0907 91.6698 78.1931 92.3369 78.168C93.1917 78.2048 94.0405 78.0088 94.7925 77.6009C95.0958 77.4189 95.3435 77.1573 95.5086 76.8446C95.6737 76.5318 95.7499 76.1797 95.729 75.8266C95.744 75.54 95.6995 75.2533 95.5983 74.9847C95.4971 74.7161 95.3415 74.4713 95.1411 74.2657C94.7124 73.8584 94.2159 73.5292 93.674 73.2927C93.0509 73.0163 92.4115 72.7783 91.7594 72.5799C91.101 72.3832 90.4605 72.1308 89.8448 71.8255C89.289 71.5517 88.7909 71.1737 88.3777 70.712C87.9699 70.2152 87.7605 69.5851 87.7898 68.943C87.7782 68.4232 87.9 67.9091 88.1436 67.4497C88.378 67.019 88.7093 66.6485 89.1112 66.3675C89.5446 66.0709 90.0247 65.8493 90.5316 65.7119C91.0837 65.5581 91.6545 65.4811 92.2276 65.483C92.7814 65.4757 93.3338 65.5387 93.8717 65.6703C94.3676 65.7895 94.8429 65.9825 95.2816 66.2426C95.6841 66.4846 96.0372 66.8006 96.3221 67.174C96.5922 67.5391 96.7706 67.9638 96.8424 68.4123H95.5209C95.4889 68.0806 95.3776 67.7614 95.1966 67.4816C95.0155 67.2018 94.7699 66.9696 94.4804 66.8046C93.8226 66.4446 93.0813 66.2651 92.3317 66.2843C91.8794 66.2776 91.4287 66.339 90.9946 66.4664C90.6433 66.5673 90.3111 66.7255 90.0113 66.9346C89.7611 67.1117 89.5561 67.3452 89.413 67.6162C89.2783 67.8748 89.2087 68.1624 89.2101 68.4539C89.2025 68.701 89.2538 68.9464 89.3596 69.1698C89.4654 69.3933 89.6228 69.5884 89.8188 69.7391C90.2776 70.0953 90.7859 70.3828 91.3276 70.5924C91.9311 70.8352 92.5866 71.0693 93.2942 71.2948C93.9753 71.5031 94.6341 71.7785 95.2608 72.1169C95.84 72.4223 96.3528 72.8397 96.7696 73.3448C97.191 73.8819 97.4085 74.5511 97.3835 75.2335C97.3904 75.7638 97.2709 76.2882 97.0349 76.7632C96.7996 77.2256 96.4615 77.6278 96.0464 77.939C95.5764 78.2823 95.0474 78.5363 94.4856 78.6883C93.8255 78.8735 93.1421 78.9629 92.4566 78.9536C91.7688 78.9643 91.0828 78.8821 90.4171 78.7091C89.8404 78.563 89.2907 78.3259 88.7887 78.0067C88.3495 77.7218 87.9768 77.3456 87.6961 76.9036C87.4308 76.462 87.2788 75.9615 87.2539 75.4468L88.5702 75.478Z" fill="#072826"/>
        <path d="M108.075 70.3254H107.378V65.5854H109.22L108.075 70.3254Z" fill="#072826"/>
        <path d="M122.07 79.0618H120.306L120.265 65.6328H122.034V71.507H130.165V65.6328H131.934L131.971 79.0618H130.207V72.3863H122.075L122.07 79.0618Z" fill="#072826"/>
        <path d="M146.886 65.5557L146.928 78.9847H145.154L145.112 65.5557H146.886Z" fill="#072826"/>
        <path d="M168.894 77.9753L168.889 77.8608L161.886 77.8816L161.85 65.5088L160.086 65.514L160.122 78.506V78.969H168.894V77.9753Z" fill="#072826"/>
        <path d="M188.336 77.9753V77.9232L188.331 77.8608L181.349 77.8816H181.328L181.292 65.5088L179.528 65.514V65.5504L179.565 78.5164V78.969H188.336V77.9753Z" fill="#072826"/>
        <path d="M55.559 96.2569C55.5713 96.4962 55.5192 96.7344 55.4083 96.9468C55.2974 97.1592 55.1317 97.338 54.9283 97.4647C54.3837 97.7797 53.7581 97.9267 53.1302 97.8874H52.419V99.9004H51.748V94.7539H53.3181C54.8008 94.7539 55.559 95.2572 55.559 96.2569ZM52.419 97.3708H53.0899C53.5515 97.4 54.0131 97.3123 54.4318 97.1158C54.5699 97.0293 54.6816 96.9067 54.755 96.7612C54.8283 96.6157 54.8604 96.4529 54.8478 96.2905C54.8571 96.1399 54.8259 95.9895 54.7575 95.855C54.6891 95.7205 54.5859 95.6067 54.4587 95.5256C54.0791 95.3341 53.655 95.2483 53.2308 95.2773H52.4391L52.419 97.3708Z" fill="#072826"/>
        <path d="M59.2357 97.7684V99.9156H58.5312V94.7556H60.1952C60.7676 94.7128 61.3398 94.8412 61.839 95.1247C62.0149 95.2439 62.1568 95.4068 62.2509 95.5973C62.345 95.7879 62.388 95.9995 62.3758 96.2117C62.3758 96.8827 61.9665 97.3591 61.1546 97.6006L62.8052 99.9156H61.9665L60.4971 97.7684H59.2357ZM59.2357 97.2584H60.2019C60.5838 97.2861 60.9652 97.1972 61.2955 97.0035C61.4124 96.9163 61.5056 96.8012 61.5665 96.6688C61.6275 96.5363 61.6543 96.3907 61.6444 96.2452C61.6552 96.1018 61.628 95.9581 61.5656 95.8285C61.5032 95.6989 61.4077 95.5881 61.2888 95.5072C60.9349 95.3337 60.5413 95.2573 60.1482 95.2857H59.2357V97.2584Z" fill="#072826"/>
        <path d="M68.8635 99.9153H65.5088V94.7554H68.8635V95.2922H66.1797V96.9495H68.6958V97.4796H66.1864V99.3785H68.8702L68.8635 99.9153Z" fill="#072826"/>
        <path d="M74.5867 99.9153L72.5336 95.3458H72.5001C72.541 95.774 72.5589 96.2041 72.5538 96.6341V99.9153H71.8828V94.7554H72.9496L74.8685 99.0095H74.9021L76.8545 94.7554H77.9079V99.9153H77.2034V96.5603C77.2034 96.1779 77.2034 95.7619 77.2571 95.319H77.2235L75.1503 99.8817L74.5867 99.9153Z" fill="#072826"/>
        <path d="M81.2764 99.9153V94.7554H81.9469V99.9153H81.2764Z" fill="#072826"/>
        <path d="M89.9239 94.755V98.11C89.9352 98.3731 89.8847 98.6352 89.7763 98.8753C89.6679 99.1153 89.5048 99.3266 89.2999 99.4922C88.8 99.853 88.1911 100.031 87.5756 99.9954C86.9681 100.034 86.3667 99.8552 85.8781 99.4922C85.6803 99.3193 85.5239 99.104 85.4205 98.8624C85.3171 98.6208 85.2694 98.3591 85.281 98.0965V94.7416H85.9855V98.0965C85.9753 98.2827 86.0075 98.4688 86.0795 98.6408C86.1516 98.8128 86.2616 98.9662 86.4015 99.0896C86.7565 99.3418 87.1882 99.4627 87.6226 99.4318C88.0453 99.4605 88.4642 99.3367 88.8034 99.0829C88.944 98.9602 89.0547 98.8068 89.1268 98.6347C89.1989 98.4625 89.2306 98.2761 89.2194 98.0898V94.7349L89.9239 94.755Z" fill="#072826"/>
        <path d="M95.9168 99.9153L93.857 95.3458H93.8234C93.8669 95.7739 93.8871 96.2039 93.8838 96.6341V99.9153H93.2129V94.7554H94.2998L96.2187 99.0095H96.2523L98.1913 94.7554H99.2447V99.9153H98.5402V96.5603C98.5402 96.1779 98.5402 95.7619 98.5939 95.319L96.5206 99.8817L95.9168 99.9153Z" fill="#072826"/>
        <path d="M111.113 99.9153H110.402V97.4863H107.202V99.9153H106.497V94.7554H107.202V96.9495H110.402V94.7554H111.106L111.113 99.9153Z" fill="#072826"/>
        <path d="M119.741 97.3322C119.76 97.69 119.704 98.0477 119.577 98.3827C119.45 98.7177 119.255 99.0226 119.003 99.278C118.45 99.7656 117.728 100.018 116.991 99.9826C116.24 100.038 115.498 99.7973 114.924 99.3116C114.671 99.0533 114.476 98.7448 114.35 98.4062C114.224 98.0675 114.17 97.7062 114.193 97.3456C114.17 96.9869 114.223 96.6275 114.349 96.2909C114.475 95.9543 114.671 95.6483 114.924 95.393C115.5 94.9063 116.245 94.6653 116.997 94.722C117.734 94.6848 118.457 94.9377 119.01 95.4265C119.255 95.6781 119.446 95.9767 119.571 96.3043C119.697 96.6318 119.755 96.9816 119.741 97.3322ZM114.904 97.3322C114.882 97.6181 114.918 97.9055 115.009 98.1774C115.1 98.4493 115.245 98.7003 115.434 98.9157C115.864 99.2655 116.402 99.4564 116.957 99.4564C117.512 99.4564 118.05 99.2655 118.48 98.9157C118.812 98.453 118.99 97.8981 118.99 97.3288C118.99 96.7596 118.812 96.2046 118.48 95.7419C118.05 95.3921 117.512 95.2012 116.957 95.2012C116.402 95.2012 115.864 95.3921 115.434 95.7419C115.244 95.9581 115.099 96.2102 115.008 96.4834C114.917 96.7565 114.882 97.0451 114.904 97.3322Z" fill="#072826"/>
        <path d="M125.477 99.9153L123.418 95.3458H123.384C123.427 95.7739 123.448 96.2039 123.444 96.6341V99.9153H122.773V94.7554H123.834L125.752 99.0095H125.833L127.772 94.7554H128.825V99.9153H128.154V96.5603C128.154 96.1779 128.154 95.7619 128.208 95.319L126.135 99.8817L125.477 99.9153Z" fill="#072826"/>
        <path d="M135.542 99.9153H132.188V94.7554H135.542V95.2922H132.858V96.9495H135.374V97.4796H132.858V99.3785H135.542V99.9153Z" fill="#072826"/>
        </svg>

      .goals__logo-developer
        <svg width="105" height="75" viewBox="0 0 105 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.2916 66.8081C9.28927 65.9704 7.92384 65.5479 6.22432 65.5479H0V74.7403H6.5221C7.97468 74.7403 9.20938 74.3326 10.1971 73.5319C11.272 72.6646 11.8168 71.5526 11.8168 70.2405C11.824 68.8097 11.3084 67.6532 10.2916 66.8081ZM9.62336 70.196C9.62336 71.004 9.35464 71.6416 8.80266 72.1531C8.24341 72.672 7.53891 72.9241 6.66009 72.9241H2.06993V67.3567H6.35505C7.33555 67.3567 8.14173 67.6236 8.73729 68.1499C9.33285 68.6688 9.62336 69.3434 9.62336 70.196Z" fill="#072826"/>
        <path d="M21.2732 70.6483L16.8573 65.5405H14.5332V74.733H16.6104V68.024L21.2587 73.4282L25.9432 68.024V74.733H28.0132V65.5405H25.6963L21.2732 70.6483Z" fill="#072826"/>
        <path d="M41.1088 71.4266H45.3503C44.7039 72.5831 43.5056 73.1465 41.6898 73.1465C40.4188 73.1465 39.3947 72.8574 38.6321 72.2866C37.8841 71.7232 37.5209 71.0189 37.5209 70.1219C37.5209 69.1952 37.9422 68.4539 38.8137 67.8683C39.5763 67.3567 40.5423 67.0973 41.6826 67.0973C43.1424 67.0973 44.3553 67.5569 45.285 68.4761L45.4084 68.5948L47.3549 67.6978L47.1007 67.4309C45.728 65.9853 43.9486 65.2588 41.806 65.2588C40.0411 65.2588 38.5595 65.6665 37.3974 66.4746C36.0538 67.4161 35.3711 68.6392 35.3711 70.1145C35.3711 71.612 36.0465 72.8426 37.3757 73.7692C38.5232 74.5699 39.9758 74.9776 41.6753 74.9776C43.5419 74.9776 45.0671 74.518 46.2074 73.621C47.3694 72.7091 47.9577 71.4859 47.9577 69.9959V69.603H41.1088V71.4266Z" fill="#072826"/>
        <path d="M61.1317 70.4926C61.6402 69.9959 61.9016 69.3361 61.9016 68.5355C61.9016 67.6237 61.5893 66.8823 60.9647 66.3412C60.3546 65.8148 59.5121 65.5405 58.4663 65.5405H50.7676V74.733H52.8375V71.4267H57.2243L59.7808 74.733H62.2357L59.6429 71.271C60.2529 71.1227 60.7468 70.8633 61.1317 70.4926ZM59.7881 68.5355C59.7881 69.0025 59.6283 69.6178 58.2266 69.6178H52.8375V67.3568H58.0813C59.6065 67.3568 59.7881 68.0314 59.7881 68.5355Z" fill="#072826"/>
        <path d="M74.6697 66.4892C73.5222 65.6812 72.0769 65.2734 70.3919 65.2734C68.7141 65.2734 67.2688 65.6812 66.0995 66.4892C64.7486 67.4307 64.0586 68.6539 64.0586 70.1291C64.0586 71.6266 64.734 72.8572 66.0704 73.7839C67.218 74.5845 68.6706 74.9922 70.3846 74.9922C72.0769 74.9922 73.5222 74.5919 74.6697 73.7987C76.0061 72.872 76.6816 71.6414 76.6816 70.1365C76.6961 68.6539 76.0134 67.4307 74.6697 66.4892ZM74.5535 70.1291C74.5535 71.0261 74.1904 71.7304 73.4496 72.2938C72.6942 72.8646 71.6629 73.1537 70.3846 73.1537C69.0991 73.1537 68.0605 72.8646 67.2979 72.3012C66.5498 71.7452 66.1866 71.0335 66.1866 70.1365C66.1866 69.2692 66.557 68.5649 67.3197 67.9941C68.0968 67.4085 69.1281 67.1193 70.3773 67.1193C71.5176 67.1193 72.4836 67.3788 73.2462 67.8903C74.1323 68.4611 74.5535 69.1951 74.5535 70.1291Z" fill="#072826"/>
        <path d="M88.5568 71.3229C88.5568 71.9011 88.2881 72.3385 87.7288 72.6499C87.1333 72.9835 86.2254 73.154 85.0416 73.154C83.8577 73.154 82.9498 72.9835 82.3397 72.6499C81.7732 72.3385 81.5045 71.9011 81.5045 71.3229V65.5405H79.4346V71.6713C79.4346 72.6573 79.9575 73.4727 80.9961 74.088C82.0202 74.6885 83.3856 74.9999 85.0488 74.9999C86.712 74.9999 88.0702 74.6959 89.0725 74.088C90.1111 73.4801 90.634 72.6721 90.634 71.6713V65.5405H88.5641V71.3229H88.5568Z" fill="#072826"/>
        <path d="M104.062 66.3412C103.452 65.8148 102.624 65.5405 101.6 65.5405H93.8652V74.733H95.9352V71.4267H101.302C102.472 71.4267 103.387 71.182 104.019 70.6927C104.672 70.1886 104.999 69.4547 104.999 68.5132C104.999 67.6088 104.68 66.8823 104.062 66.3412ZM102.886 68.5355C102.886 69.0025 102.726 69.6178 101.331 69.6178H95.9424V67.3568H101.23C102.711 67.3568 102.886 68.0314 102.886 68.5355Z" fill="#072826"/>
        <path d="M75.5931 55.4661H29.4082V0H75.5931V55.4661ZM31.7832 53.0345H73.2109V2.43155H31.7832V53.0345Z" fill="#072826"/>
        <path d="M58.8018 4.69269C55.5044 3.40278 52.0763 3.69931 50.0064 4.0848C48.946 4.28496 47.9219 4.64079 46.9632 5.15231L33.9844 11.9873L35.8292 13.3884L35.8364 13.3959L35.8292 13.3884L44.305 19.8157C46.1134 18.8446 50.3259 16.6058 51.3064 16.287C51.5824 16.1981 51.9092 16.1239 52.2797 16.0795L52.2724 16.072C52.2724 16.072 54.3641 15.7088 56.8408 16.4946C56.9424 16.5243 57.0369 16.5391 57.1313 16.5687C58.3442 16.9691 61.4019 18.852 61.4019 18.852L70.8872 11.9948C70.8872 11.9948 63.9802 6.71651 58.8018 4.69269Z" fill="#072826"/>
        <path d="M34.0424 13.9814L34.0352 24.4342L52.5629 38.8381L70.9744 24.4786L70.9671 13.9814L52.5048 28.5856L34.0424 13.9814Z" fill="#072826"/>
        <path d="M42.3802 50.9366H34.0424L34.0352 26.9473L52.3668 41.7441L71.0034 26.9473V50.8995H62.6002V43.0044L52.3522 50.944L42.3948 43.1008C42.3948 43.1008 42.3948 50.9218 42.3802 50.9366Z" fill="#072826"/>
        </svg>


    ul.goals__list
      li.goals__item
        .goals__item-num 01
        h3(data-span-fade-up) Create stylish UI
        p Create a stylish and memorable design to increase the popularity of a residential complex
      li.goals__item
        .goals__item-num 02
        h3(data-span-fade-up) Design awesome UX
        p Design a user-friendly and intuitive interface for a choosing individual unit
      li.goals__item
        .goals__item-num 03
        h3(data-span-fade-up) Integrate CRM
        p Develop a system to view a real-time unit availability for the booking platform
      li.goals__item
        .goals__item-num 04
        h3(data-span-fade-up) Increase ROI
        p Improve a lead generation process

    img(src="./assets/images/neboshill/goal-back.png" alt="").goals-deco
  section.ui
    .ui__main
      .ui__deco
        img(src="./assets/images/neboshill/ui-deco.png" alt="")
      .header-neboshill
        .header-neboshill__title Neboshill
        .header-neboshill__name Residental complex
        .header-neboshill__year
          <svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 3.83333L6.5 6.66667M1 3.83333L6.5 1L12 3.83333M1 3.83333V14.7619L6.5 18M6.5 6.66667L12 3.83333M6.5 6.66667V18M12 3.83333V14.7619L6.5 18" stroke="#072826"/>
          </svg>
      .section-title
        .section-title__num
          p /01
        .section-title__name
          h2 ui
      .section-description
        .section-marker
          .section-marker__text User Interface
        .section-content
          .section-content__item
            h3 Create stylish UI
            p Create a stylish and memorable design to increase the popularity of a residential complex
          img(src="./assets/images/neboshill/ui-deco-2.png" alt="Deco").ui-deco
          .section-content__delimiter
            p solution
            p description
          .section-content__item.triangle
            h3 Impress
            p Impress your prospect with creative and neat website design. Implementing the brand identity tightly into the layout makes it more memorable.
    .video.ui__video
      .video__border
        video(class="desctop-video" width="100%" height="100%" preload="none" autoplay="false" muted="" loop="" playsinline="")
          <source src="./assets/images/neboshill/video/Home.mp4" type="video/mp4">
        video(class="mobile-video" width="100%" height="100%" preload="none" autoplay="false" muted="" loop="" playsinline="" poster="./assets/images/neboshill-page/video/poster.jpg")
          <source src="./assets/images/neboshill/video/Home-mob.mp4" type="video/mp4">
    .ui__desktop
      .ui__desktop-left
      .ui__desktop-right
      .ui__desktop-img
        .main-section__img
          .main-section__img-conteiner
            picture
              source(media="(max-width: 575px)" srcset="./assets/images/neboshill/laptop-ui-mob.png")
              img(src="./assets/images/neboshill/laptop-ui.png" alt="Laptop")
        img(src="./assets/images/neboshill/ui-deco-3.png" alt="Deco").ui__desktop-deco
    .ui__pages
      .ui__tablet-img
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/parking-mob.png")
          img(src="./assets/images/neboshill/parking.png" alt="location")
      .ui__tablet-img
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/location-mob.png")
          img(src="./assets/images/neboshill/location.png" alt="location")
        .ui__tablet-deco
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/tablet-deco-mob.png")
            img(src="./assets/images/neboshill/tablet-deco.png" alt="location")

    .ui__main.ux__main
      .ux__deco
        img(src="./assets/images/neboshill/ux-deco.png" alt="")
      .header-neboshill
        .header-neboshill__title Neboshill
        .header-neboshill__name Residental complex
        .header-neboshill__year
          <svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 3.83333L6.5 6.66667M1 3.83333L6.5 1L12 3.83333M1 3.83333V14.7619L6.5 18M6.5 6.66667L12 3.83333M6.5 6.66667V18M12 3.83333V14.7619L6.5 18" stroke="#072826"/>
          </svg>
      .section-title
        .section-title__num
          p /02
        .section-title__name
          h2 ux
      .section-description
        .section-marker
          .section-marker__text Online 3D Interactive
        .section-content
          .section-content__item
            h3 Design awesome UX
            p Design a user-friendly and intuitive interface for a choosing individual unit
          img(src="./assets/images/neboshill/ui-deco-2.png" alt="Deco").ux-deco
          .section-content__delimiter
            p solution
            p description
          .section-content__item.triangle
            h3 Engage
            p While your potential customers visit your real estate website, engage them to explore an architecture, facilities, amenities and lifestyles.
    .video.ui__video
      .video__border
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/3d-video-mob.jpg")
          img(src="./assets/images/neboshill/3d-video.jpg" alt="3d")
    .model-3d
      .model-3d__bg
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/bg-3d-mob.jpg")
          img(src="./assets/images/neboshill/bg-3d.jpg" alt="3d presentation")
      .model-3d__item
        h4 3D model
        p Fully Modeled 3D environments of project exteriors, amenity areas, and individual units, customised to showcase your project

    .filter
      .filter__deco
        img(src="./assets/images/neboshill/filter-deco.png" alt="Decor")
      .header-neboshill
        .header-neboshill__title neboshill concept house
        .header-neboshill__name Default
        .header-neboshill__year
          p Hidden
      .filter__container
        .filter__img
          .section-content__item
            h3 Filtering
            p Please, choose a property by clicking on exterior model or filtering parameters in the left panel.
            .filter__parameters
              p Choose by parameters
          .section-content__item.filter__item
            h3 Real-time view
            p Seamless connection to CRM allows prospects to view real-time availability
        .filter__img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/filter-3d-mob.png")
            img(src="./assets/images/neboshill/filter-3d.png" alt="3d presentation")
        .filter__img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/filter-3d-2-mob.png")
            img(src="./assets/images/neboshill/filter-3d-2.png" alt="3d presentation")
    .video.ux__video.ux__video-mob
      .video-deco
        img(src="./assets/images/neboshill/video-deco.png" alt="Decor")
      .video__border
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/3d-video-mob.jpg")
          img(src="./assets/images/neboshill/3d-video.jpg" alt="3d")
    .viewer-interest
      .viewer-interest__img
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/mockup-mob.jpg")
          img(src="./assets/images/neboshill/mockup.jpg" alt="Laptop")
      .viewer-interest__img.img-bg
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/mockup2-mob.jpg")
          img(src="./assets/images/neboshill/mockup2.jpg" alt="Laptop")
        .viewer-interest__item
          h3 Viewer interest
          p Capture and keep viewer interest with galleries, floor plans, unit detail pages and views

    .vr-tour
      .vr-tour__right
        .vr-tour__img
          img(src="./assets/images/neboshill/vr1.jpg" alt="Laptop")
        h2 Interactive
        h2.title-arrow VR tour
        .vr-tour__right-item
          h3 Interactive VR tour
          p Increasing the engagement of the prospect by showing the  interior with an absolute freedom in navigation and photorealistic window view
      .vr-tour__left
        .vr-tour__img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/vr2-mob.jpg")
            img(src="./assets/images/neboshill/vr2.jpg" alt="Laptop")
    .video.vr-video
      .video__border
        video(class="desctop-video" width="100%" height="100%" preload="none" autoplay="false" muted="" loop="" playsinline="")
          <source src="./assets/images/neboshill-page/video/VRNET.mp4" type="video/mp4">
        video(class="mobile-video" width="100%" height="100%" preload="none" autoplay="false" muted="" loop="" playsinline="" poster="./assets/images/neboshill-page/video/poster.jpg")
          <source src="./assets/images/neboshill-page/video/VRNET-mob.mp4" type="video/mp4">

  section.crm
    .crm__main
      .section-deco
        img(src="./assets/images/neboshill/ui-deco-2.png" alt="")
      .crm__deco
        img(src="./assets/images/neboshill/crm-deco.png" alt="")
      .header-neboshill
        .header-neboshill__title neboshill concept house
        .header-neboshill__name workplace for the sales manager
        .header-neboshill__year description
      .section-title
        .section-title__num
          p /03
        .section-title__name
          h2 crm
      .section-description
        .section-marker
          .section-marker__text DEVBASE
        .section-content
          .section-content__item
            h3 Online Booking
            p Develop a real-time system to book the property on the website

          .section-content__delimiter
            p What is DEVBASE?
            p description

          .crm__content-item
            .section-content__item.triangle
              h3 CRM system
              p The 3D module on the website is connected to our CRM system, which provides valuable and easy property listing management.
            <svg width="236" height="37" viewBox="0 0 236 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M207.999 33.5762L208 33.5749L213.485 28.0888C215.624 29.3717 218.073 30.0641 220.631 30.0641C224.362 30.0641 227.874 28.6065 230.51 25.9706L230.51 25.9704C233.147 23.3321 234.602 19.8195 234.602 16.0907C234.602 12.3621 233.147 8.84841 230.51 6.21304C227.874 3.57318 224.36 2.1193 220.631 2.1193C216.901 2.1193 213.387 3.57644 210.753 6.21241C208.113 8.8499 206.659 12.3629 206.659 16.0907C206.659 18.6503 207.355 21.1008 208.635 23.2375L203.149 28.7242C203.149 28.7242 203.149 28.7242 203.149 28.7242C201.809 30.064 201.81 32.2336 203.148 33.5737L207.999 33.5762ZM207.999 33.5762C207.329 34.2441 206.452 34.5799 205.574 34.5799M207.999 33.5762L205.574 34.5799M205.574 34.5799C204.698 34.5799 203.818 34.2454 203.148 33.5744L205.574 34.5799ZM225.658 21.1194L225.658 21.1187C227.004 19.7734 227.741 17.991 227.741 16.0897C227.741 14.1887 227.004 12.4083 225.658 11.0626L225.658 11.0623C224.313 9.71682 222.533 8.97901 220.631 8.97901C218.729 8.97901 216.948 9.71695 215.603 11.0623L215.603 11.0626C214.257 12.4084 213.519 14.1899 213.519 16.0907C213.519 17.9917 214.257 19.7731 215.603 21.1198C216.948 22.4651 218.728 23.2013 220.631 23.2013C222.534 23.2013 224.315 22.4632 225.658 21.1194Z" stroke="#303756" stroke-width="2.75358"/>
            <path d="M97.3721 17.1989C99.6521 17.6615 101.502 18.5206 102.923 19.7762C104.344 20.9988 105.055 22.8327 105.055 25.2779C105.055 29.0779 103.667 31.7378 100.891 33.2578C98.1486 34.7447 94.2495 35.4882 89.194 35.4882H77.1002V0.991289H87.8557C92.9774 0.991289 96.8765 1.68519 99.5529 3.073C102.262 4.42776 103.617 6.70773 103.617 9.9129C103.617 11.9616 103.022 13.5807 101.833 14.7702C100.643 15.9267 99.1564 16.7363 97.3721 17.1989ZM87.3105 7.97989V14.3241H89.0453C90.5983 14.3241 91.6887 14.0763 92.3165 13.5807C92.9443 13.052 93.2583 12.1764 93.2583 10.9538C93.2583 9.92943 92.9113 9.18596 92.2174 8.72336C91.5565 8.22771 90.4166 7.97989 88.7974 7.97989H87.3105ZM89.2931 28.3013C91.0113 28.3013 92.3165 28.037 93.2087 27.5083C94.1009 26.9796 94.5469 26.0049 94.5469 24.584C94.5469 23.2623 94.1339 22.304 93.3078 21.7093C92.5148 21.0814 91.3087 20.7675 89.6896 20.7675H87.3105V28.3013H89.2931Z" fill="#303756"/>
            <path d="M125.782 35.4882L124.444 28.797H116.265L114.977 35.4882H104.32L114.382 0.991289H126.575L136.587 35.4882H125.782ZM117.703 21.6597H123.006L120.33 8.12858L117.703 21.6597Z" fill="#303756"/>
            <path d="M150.147 0C155.401 0 159.647 1.56954 162.885 4.70863L158.375 10.012C156.062 8.16162 153.6 7.23642 150.99 7.23642C149.767 7.23642 148.842 7.4512 148.214 7.88076C147.586 8.31032 147.272 8.92161 147.272 9.71465C147.272 10.3094 147.438 10.8051 147.768 11.2016C148.131 11.5651 148.71 11.912 149.503 12.2424C150.329 12.5729 151.651 13.0355 153.468 13.6302C157.103 14.7867 159.713 16.2406 161.299 17.9919C162.918 19.7432 163.728 22.1388 163.728 25.1788C163.728 27.3927 163.133 29.3587 161.943 31.077C160.787 32.7622 159.118 34.0839 156.937 35.0421C154.757 36.0004 152.179 36.4795 149.205 36.4795C146.165 36.4795 143.489 36.0004 141.176 35.0421C138.863 34.0839 136.913 32.8282 135.327 31.2752L140.333 25.7736C142.944 28.0205 145.769 29.1439 148.809 29.1439C150.23 29.1439 151.304 28.8631 152.031 28.3013C152.757 27.7066 153.121 26.9466 153.121 26.0214C153.121 25.3275 152.956 24.7492 152.625 24.2866C152.328 23.824 151.783 23.3945 150.99 22.9979C150.197 22.6014 149.04 22.1719 147.52 21.7093C143.522 20.4536 140.73 18.9502 139.144 17.1989C137.558 15.4146 136.765 13.2007 136.765 10.5572C136.765 8.40945 137.343 6.54252 138.499 4.95645C139.656 3.37039 141.242 2.14779 143.258 1.28868C145.306 0.429558 147.603 0 150.147 0Z" fill="#303756"/>
            <path d="M189.248 0.991289L188.207 8.07902H176.807V14.5224H186.819V21.4119H176.807V28.3509H189V35.4882H166.597V0.991289H189.248Z" fill="#303756"/>
            <path d="M11.0529 0.992188C16.6041 0.992188 21.0484 2.2313 24.3857 4.70953C27.7231 7.15471 29.3918 11.6155 29.3918 18.0919C29.3918 24.4693 27.7892 28.9631 24.584 31.5735C21.3788 34.1839 17.0667 35.4891 11.6477 35.4891H0V0.992188H11.0529ZM10.2103 8.17904V28.3022H12.2424C13.8285 28.3022 15.1007 27.9883 16.0589 27.3605C17.0172 26.7327 17.7276 25.6918 18.1902 24.2379C18.6528 22.751 18.8841 20.7023 18.8841 18.0919C18.8841 15.5146 18.6363 13.5155 18.1406 12.0946C17.678 10.6407 16.9676 9.63294 16.0093 9.0712C15.0511 8.47643 13.812 8.17904 12.292 8.17904H10.2103Z" fill="#417BBF"/>
            <path d="M55.1777 0.992188L54.1369 8.07991H42.737V14.5233H52.7491V21.4128H42.737V28.3518H54.9299V35.4891H32.5267V0.992188H55.1777Z" fill="#417BBF"/>
            <path d="M86.0828 0.992188L77.3594 35.4891H64.1752L54.9067 0.992188H65.6622L70.916 28.4014L75.6246 0.992188H86.0828Z" fill="#417BBF"/>
            </svg>
      .main-section__img
        .main-section__img-conteiner
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/laptop-crm-mob.png")
            img(src="./assets/images/neboshill/laptop-crm.png" alt="Laptop")
          .crm__admin-panel
            h3 Admin panel main screen
            ul
              li
                .num 01
                p The system supports adding multiple projects into the solution
              li
                .num 02
                p DevBase is a simple and effective workplace for the sales manager.
    .crm__functionality
      .crm__functionality-left
        .crm__functionality-img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/bg-crm1-mob.jpg")
            img(src="./assets/images/neboshill/bg-crm1.jpg" alt="")
        .crm__functionality-deco
          img(src="./assets/images/neboshill/crm-laptop.png" alt="")
        .crm__functionality-item
          h3 CRM Functionality
          p All in one system for property management
      .crm__functionality-right
        .crm__functionality-img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/bg-crm2-mob.jpg")
            img(src="./assets/images/neboshill/bg-crm2.jpg" alt="")
    .crm__integration
      .section-description
        .section-marker
          .section-marker__text Admin panel main screen - Property listing
        .section-content
          .section-content__item
            h3 CRM integration
            p DevBase can be connected with different CRM systems to transer all data via API. You can see the deals list and deals history, contact information, responsible manager and price changes.
      .crm__video
        .crm__video-border
          video(class="desctop-video" width="100%" height="100%" preload="none" autoplay="false" muted="" loop="" playsinline="")
            <source src="./assets/images/neboshill-page/video/DevBase.mp4" type="video/mp4">
          video(class="mobile-video" width="100%" height="100%" preload="none" autoplay="false" muted="" loop="" playsinline="" poster="./assets/images/neboshill-page/video/poster.jpg")
            <source src="./assets/images/neboshill-page/video/DevBase-mob.mp4" type="video/mp4">

      .crm__integration-deco
        picture
          source(media="(max-width: 575px)" srcset="./assets/images/neboshill/crm-deco-2-mob.png")
          img(src="./assets/images/neboshill/crm-deco-2.png" alt="")
    .crm__admin
      .crm__admin-item.bg-1
        .crm__admin-text
          h3 The system is protected from duplicate booking, be safe
          p Manage your sales team and connect managers from different physical offices in one place.
        .crm__admin-img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/admin1-1-mob.jpg")
            img(src="./assets/images/neboshill/admin1-1.png" alt="")
          .section-content__item
            p You can easily add your projects, floorplans, and property information via Excel file or manually.
      .crm__admin-item
        .crm__admin-text
          h3 Automation of routine processes.
          p Now, managers do not need to search for information, fill out questionnaires, enter data, and get distracted —focus on sales.
          p Give your partners, agents, or brokers an account with the history of their views, orders, personal manager.
        .crm__admin-img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/admin1-2-mob.jpg")
            img(src="./assets/images/neboshill/admin1-2.png" alt="")
          .section-content__item
            p Switch with one click with layouts (tile, list, mini-tile, large tile) all.
      .crm__admin-item.bg-2
        .crm__admin-text
          h3 Dynamic price change
          p Increase the total value of the property by using the intelligent system of dynamic price change by analysis of the data. (*Beta)
        .crm__admin-img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/admin1-3-mob.jpg")
            img(src="./assets/images/neboshill/admin1-3.png" alt="")
          .section-content__item
            p Switch the layouts with one click
      .crm__admin-item
        .crm__admin-text
          h3 Connect to your CRM via API integration
        .crm__admin-img
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/admin1-4-mob.jpg")
            img(src="./assets/images/neboshill-page/admin1-4.png" alt="")
          .section-content__item
            p Provide the client with the prices and availability of the interested units by creating a customer account.
      .crm__admin-item.last-item.bg-3
          .crm__admin-img
            picture
              source(media="(max-width: 575px)" srcset="./assets/images/neboshill/admin5-1-mob.jpg")
              img(src="./assets/images/neboshill/admin5-1.jpg" alt="")
            .section-content__item
              p Send the personalized PDF file with the stylish, well-designed offer.
          .crm__admin-img
            picture
              source(media="(max-width: 575px)" srcset="./assets/images/neboshill/admin5-2-mob.jpg")
              img(src="./assets/images/neboshill/admin5-2.jpg" alt="")
            .section-content__item
              p Engage the client by giving him the PDF with the comparison of chosen units.

  section.results
    .header-neboshill
      .header-neboshill__title
        .results__neboshill-title neboshill concept house
      .header-neboshill__name what changed?
      .header-neboshill__year description
    .section-title
      .section-title__num
        .results__num
          p /04
      .section-title__name
        h2 Results
    .section-description
      .section-marker
        .section-marker__text after implementing DevBase:
      .section-content
        .results__item
          .results__item-left
            h3 01/ Time for deal
            p Individual brokers and agencies
            p reduced the time for closing
            p.text-bg.text-bg-margin the deal up to 15 minutes
            p.text-bg compared to 3.5 hours before
            p.text-bg implementation.
          .results__item-right
            p.line-through 3.5 hours
            p 15 minutes
        .results__item
          .results__item-left
            h3 02/ Price change
            p DevBase analysis and dynamic
            p price change increased
            p.text-bg.text-bg-margin the total property value by
            p.text-bg 0.4% (more than 0.9 million
            p.text-bg USD).
          .results__item-right
            p price +0.4%
            p ($900,000+)
        .results__item
          .results__item-left
            h3 03/ An online booking
            p Integrating DevBase created the
            p possibility to make an online booking
            p system on the online interactive 3D.
            p.text-bg.desctop.text-bg-margin The prospect could see the
            p.text-bg.desctop real-time availability, price,
            p.text-bg.desctop and characteristics and make
            p.text-bg.desctop a booking just in a few clicks!
            p.text-bg.mobile The prospect could see the
            p.text-bg.mobile real-time availability, price, and
            p.text-bg.mobile characteristics and make a
            p.text-bg.mobile booking just in a few clicks!
          .results__item-right
            p make
            p a booking
            p just in a
            p few clicks!
        .results__item.last-item
          picture
            source(media="(max-width: 575px)" srcset="./assets/images/neboshill/bg-item-mob.png")
            img(class="result__item-img" src="./assets/images/neboshill/bg-item.png" alt="")
          .result__item-container1
            .results__item-cont1
              h4 +238%
              p increased pageview
            .results__item-cont2
              h4 +138%
              p more conversions
          .result__item-container2
            .results__item-cont3
              h4 +274%
              p increased time on the website
            .results__item-cont4
              h4 +15
              p units were booked online on the site!

  section.ui-elements
    .ui-elements__deco
      img(src="./assets/images/neboshill/ui-deco-2.png" alt="")
    .header-neboshill
      .header-neboshill__title neboshill
      .header-neboshill__name Typography
      .header-neboshill__year description
    .section-title
      .section-title__num
        p /05
      .section-title__name
        .font
          h3 Tenor Sans
        .font
          h3 Open Sans
    .section-description
      .section-marker
        .section-marker__text UI Elements
      .section-content
        .section-content__delimiter
          p Colors
          p 02 / 04
        ul.ui-elements__color-list
          li.ui-elements__color-item
            .visualization
            .color-number #072826
          li.ui-elements__color-item
            .visualization
            .color-number #626F75
          li.ui-elements__color-item
            .visualization
            .color-number #86897E
          li.ui-elements__color-item
            .visualization
            .color-number #F4F4F4
          li.ui-elements__color-item
            .visualization
            .color-number #ffffff
        .section-content__delimiter
          p Interactive
          p 03 / 04
        ul.ui-elements__interactive-list
          li.ui-elements__interactive-item
            .condition Default
            .flat
              p Дивитися квартири
              <svg width="31" height="12" viewBox="0 0 31 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.3411 1.03711C24.9884 2.25973 27.0596 4.96387 30.1665 5.9995" stroke="#4D4D4C" stroke-width="0.762338"/>
              <path d="M24.3411 10.9629C24.9884 9.74027 27.0596 7.03613 30.1665 6.0005" stroke="#4D4D4C" stroke-width="0.762338"/>
              <path d="M0.435174 6L30.9287 6" stroke="#4D4D4C" stroke-width="0.762338"/>
              </svg>
            .sociale
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#989898" stroke-opacity="0.25"/>
              <path d="M19.9046 13.9925H21V12.0845C20.811 12.0585 20.1611 12 19.4041 12C17.8248 12 16.7429 12.9935 16.7429 14.8195V16.5H15V18.633H16.7429V24H18.8797V18.6335H20.552L20.8175 16.5005H18.8792V15.031C18.8797 14.4145 19.0457 13.9925 19.9046 13.9925V13.9925Z" stroke="#4D4D4C"/>
              </svg>
            .sociale
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" stroke="#989898" stroke-opacity="0.25"/>
              <rect x="12.5" y="12.5" width="11" height="11" rx="2.5" stroke="#4D4D4C"/>
              <path d="M18.0005 15.4668C16.6014 15.4668 15.4663 16.6018 15.4663 18.0009C15.4663 19.4 16.6014 20.5351 18.0005 20.5351C19.3996 20.5351 20.5346 19.4 20.5346 18.0009C20.5346 16.6018 19.3996 15.4668 18.0005 15.4668Z" stroke="#4D4D4C"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 14.5C21 14.2238 21.2239 14 21.5 14C21.7761 14 22 14.2238 22 14.5C22 14.7761 21.7761 15 21.5 15C21.2239 15 21 14.7761 21 14.5Z" stroke="#4D4D4C"/>
              </svg>
            .language
              p EN
              <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 3.13672L0 0.136719H4L2 3.13672Z" fill="#4D4D4C"/>
              </svg>
            .tel
              p (044) 233-45-45
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="25" fill="#2799C1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5839 22.3461L22.2148 20.463C22.4572 20.1835 22.4728 19.7855 22.2541 19.487L19.9319 16.3219C19.7335 16.0506 19.4026 15.9383 19.0798 16.0332C16.7651 16.7118 15.2951 18.7355 16.3451 21.6102C18.2641 26.8655 23.1335 31.7356 28.3899 33.6551C31.2651 34.7046 33.2882 33.2351 33.9668 30.9204C34.0617 30.5976 33.9494 30.2667 33.6781 30.0683L30.513 27.746C30.2145 27.5274 29.8165 27.543 29.5371 27.7854L27.654 29.4163C24.9448 28.3037 21.697 25.0559 20.5845 22.3467L20.5839 22.3461Z" stroke="white"/>
              </svg>

            .phone
              p Замовити дзвінок
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="25" fill="#2799C1"/>
              <rect x="17" y="24" width="16" height="2" fill="white"/>
              <rect x="17" y="19" width="16" height="2" fill="white"/>
              <rect x="17" y="29" width="16" height="2" fill="white"/>
              </svg>
            .back
              <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="26" cy="26" r="25" transform="rotate(90 26 26)" stroke="#989898" stroke-opacity="0.25"/>
              <path d="M29.5 20L23 26.5L29.5 33" stroke="#4D4D4C"/>
              </svg>
              p Назад
          li.ui-elements__interactive-item.ui-elements__hover
            .condition Hover
            .flat
              p Дивитися квартири
              <svg width="43" height="11" viewBox="0 0 43 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M37.2312 0.765625C37.8328 1.90195 39.7579 4.41525 42.6455 5.37778" stroke="#A6B720" stroke-width="0.708535"/>
              <path d="M37.2312 9.99023C37.8328 8.85391 39.7579 6.34061 42.6455 5.37808" stroke="#A6B720" stroke-width="0.708535"/>
              <path d="M0.487923 5.37891L43 5.37891" stroke="#A6B720" stroke-width="0.708535"/>
              </svg>
            .sociale
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="36" height="36" rx="18" fill="#A6B720"/>
              <path d="M19.9046 13.9925H21V12.0845C20.811 12.0585 20.1611 12 19.4041 12C17.8248 12 16.7429 12.9935 16.7429 14.8195V16.5H15V18.633H16.7429V24H18.8797V18.6335H20.552L20.8175 16.5005H18.8792V15.031C18.8797 14.4145 19.0457 13.9925 19.9046 13.9925V13.9925Z" stroke="white"/>
              </svg>
            .sociale.sociale-margin
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="36" height="36" rx="18" fill="#A6B720"/>
              <rect x="12.5" y="12.5" width="11" height="11" rx="2.5" stroke="white"/>
              <path d="M18.0005 15.4668C16.6014 15.4668 15.4663 16.6018 15.4663 18.0009C15.4663 19.4 16.6014 20.5351 18.0005 20.5351C19.3996 20.5351 20.5346 19.4 20.5346 18.0009C20.5346 16.6018 19.3996 15.4668 18.0005 15.4668Z" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 14.5C21 14.2238 21.2239 14 21.5 14C21.7761 14 22 14.2238 22 14.5C22 14.7761 21.7761 15 21.5 15C21.2239 15 21 14.7761 21 14.5Z" stroke="white"/>
              </svg>
            .language
              ul
                li
                  p ук
                li
                  p РУ
                li
                  p EN
              <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 3.13672L0 0.136719H4L2 3.13672Z" fill="#4D4D4C"/>
              </svg>
            .tel
              p (044) 233-45-45
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="25" fill="#A6B720"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5839 22.3461L22.2148 20.463C22.4572 20.1835 22.4728 19.7855 22.2541 19.487L19.9319 16.3219C19.7335 16.0506 19.4026 15.9383 19.0798 16.0332C16.7651 16.7118 15.2951 18.7355 16.3451 21.6102C18.2641 26.8655 23.1335 31.7356 28.3899 33.6551C31.2651 34.7046 33.2882 33.2351 33.9668 30.9204C34.0617 30.5976 33.9494 30.2667 33.6781 30.0683L30.513 27.746C30.2145 27.5274 29.8165 27.543 29.5371 27.7854L27.654 29.4163C24.9448 28.3037 21.697 25.0559 20.5845 22.3467L20.5839 22.3461Z" stroke="white"/>
              </svg>
            .phone
              p Замовити дзвінок
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="25" fill="#A6B720"/>
              <rect x="17" y="24" width="16" height="2" fill="white"/>
              <rect x="17" y="19" width="16" height="2" fill="white"/>
              <rect x="17" y="29" width="16" height="2" fill="white"/>
              </svg>
            .back
              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24.5" transform="rotate(90 25 25)" stroke="#4D4D4C"/>
              <path d="M28.5 19L22 25.5L28.5 32" stroke="#4D4D4C"/>
              </svg>
              p Назад
          li.ui-elements__interactive-item.ui-elements__icon
            .condition Default
            .flat
              p Меню
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="9" width="22" height="2" fill="#4D4D4C"/>
              <rect width="22" height="2" fill="#4D4D4C"/>
              <rect y="18" width="22" height="2" fill="#4D4D4C"/>
              </svg>
            <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="#989898" stroke-opacity="0.25"/>
            <path d="M24.8083 31.8301L25 32L25.1917 31.8301C25.5174 31.5418 25.9125 31.1822 26.3501 30.7838C26.6728 30.4898 27.0189 30.1748 27.3779 29.8513C29.3688 28.0571 30.0054 27.4397 30.6903 26.5136C31.4212 25.5255 31.9492 24.8115 31.9942 23.7504C32.0482 22.8261 31.7255 21.917 31.0909 21.2058C30.5524 20.6155 29.8176 20.2108 29.0039 20.0562C28.2126 19.9229 27.3965 20.0282 26.6737 20.357C26.02 20.6399 25.4467 21.0622 25 21.59C24.5533 21.0622 23.98 20.6399 23.3263 20.357C22.6035 20.0284 21.7874 19.9231 20.9961 20.0562C20.1824 20.2108 19.4476 20.6155 18.9091 21.2058C18.2745 21.917 17.9518 22.8261 18.0058 23.7504C18.0508 24.8115 18.5788 25.5255 19.3097 26.5136C19.9946 27.4397 20.6312 28.0571 22.6221 29.8513C22.9811 30.1748 23.3272 30.4898 23.6499 30.7838C24.0875 31.1822 24.4826 31.5418 24.8083 31.8301Z" stroke="#4D4D4C"/>
            <circle cx="43" cy="8" r="8" fill="#F3EFE9"/>
            <path d="M41.027 11V4.7H40.01C39.974 4.94 39.899 5.141 39.785 5.303C39.671 5.465 39.53 5.597 39.362 5.699C39.2 5.795 39.014 5.864 38.804 5.906C38.6 5.942 38.387 5.957 38.165 5.951V6.914H39.749V11H41.027ZM42.833 7.121H44.057C44.057 6.953 44.072 6.785 44.102 6.617C44.138 6.443 44.195 6.287 44.273 6.149C44.351 6.005 44.453 5.891 44.579 5.807C44.711 5.717 44.87 5.672 45.056 5.672C45.332 5.672 45.557 5.759 45.731 5.933C45.911 6.101 46.001 6.338 46.001 6.644C46.001 6.836 45.956 7.007 45.866 7.157C45.782 7.307 45.674 7.442 45.542 7.562C45.416 7.682 45.275 7.793 45.119 7.895C44.963 7.991 44.816 8.087 44.678 8.183C44.408 8.369 44.15 8.552 43.904 8.732C43.664 8.912 43.454 9.11 43.274 9.326C43.094 9.536 42.95 9.776 42.842 10.046C42.74 10.316 42.689 10.634 42.689 11H47.315V9.902H44.336C44.492 9.686 44.672 9.497 44.876 9.335C45.08 9.173 45.29 9.023 45.506 8.885C45.722 8.741 45.935 8.597 46.145 8.453C46.361 8.309 46.553 8.15 46.721 7.976C46.889 7.796 47.024 7.592 47.126 7.364C47.228 7.136 47.279 6.863 47.279 6.545C47.279 6.239 47.219 5.963 47.099 5.717C46.985 5.471 46.829 5.264 46.631 5.096C46.433 4.928 46.202 4.799 45.938 4.709C45.68 4.619 45.407 4.574 45.119 4.574C44.741 4.574 44.405 4.64 44.111 4.772C43.823 4.898 43.583 5.078 43.391 5.312C43.199 5.54 43.055 5.81 42.959 6.122C42.863 6.428 42.821 6.761 42.833 7.121Z" fill="#4D4D4C"/>
            </svg>
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="26" cy="26" r="25" stroke="#989898" stroke-opacity="0.25"/>
            <path d="M15.7251 26.164V22.758H18.1431C18.8451 22.758 19.3564 22.9053 19.6771 23.2C20.0064 23.486 20.1711 23.9063 20.1711 24.461C20.1711 25.0157 20.0064 25.4403 19.6771 25.735C19.3564 26.0297 18.8451 26.1727 18.1431 26.164H15.7251ZM14.4901 21.718V31H15.7251V27.204H18.5591C19.4951 27.2127 20.2014 26.9743 20.6781 26.489C21.1634 26.0037 21.4061 25.3277 21.4061 24.461C21.4061 23.5943 21.1634 22.9227 20.6781 22.446C20.2014 21.9607 19.4951 21.718 18.5591 21.718H14.4901ZM24.1548 29.96V22.758H26.2348C26.8068 22.758 27.2878 22.8403 27.6778 23.005C28.0678 23.161 28.3841 23.395 28.6268 23.707C28.8781 24.0103 29.0558 24.383 29.1598 24.825C29.2724 25.2583 29.3288 25.7523 29.3288 26.307C29.3288 26.879 29.2681 27.3687 29.1468 27.776C29.0341 28.1747 28.8868 28.5083 28.7048 28.777C28.5228 29.0457 28.3148 29.258 28.0808 29.414C27.8554 29.57 27.6258 29.6913 27.3918 29.778C27.1578 29.856 26.9368 29.908 26.7288 29.934C26.5208 29.9513 26.3474 29.96 26.2088 29.96H24.1548ZM22.9198 21.718V31H26.1048C26.8761 31 27.5434 30.8917 28.1068 30.675C28.6701 30.4583 29.1338 30.1463 29.4978 29.739C29.8618 29.323 30.1304 28.816 30.3038 28.218C30.4771 27.6113 30.5638 26.918 30.5638 26.138C30.5638 24.6473 30.1781 23.538 29.4068 22.81C28.6354 22.082 27.5348 21.718 26.1048 21.718H22.9198ZM32.0731 21.718V31H33.3081V26.749H37.5721V25.709H33.3081V22.758H38.1701V21.718H32.0731Z" fill="#4D4D4C"/>
            </svg>
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="26" cy="26" r="25" transform="rotate(-90 26 26)" stroke="#989898" stroke-opacity="0.25"/>
            <path d="M24 21L29 26L24 31" stroke="#4D4D4C"/>
            </svg>
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="#989898" stroke-opacity="0.25"/>
            <path d="M24.8083 31.8301L25 32L25.1917 31.8301C25.5174 31.5418 25.9125 31.1822 26.3501 30.7838C26.6728 30.4898 27.0189 30.1748 27.3779 29.8513C29.3688 28.0571 30.0054 27.4397 30.6903 26.5136C31.4212 25.5255 31.9492 24.8115 31.9942 23.7504C32.0482 22.8261 31.7255 21.917 31.0909 21.2058C30.5524 20.6155 29.8176 20.2108 29.0039 20.0562C28.2126 19.9229 27.3965 20.0282 26.6737 20.357C26.02 20.6399 25.4467 21.0622 25 21.59C24.5533 21.0622 23.98 20.6399 23.3263 20.357C22.6035 20.0284 21.7874 19.9231 20.9961 20.0562C20.1824 20.2108 19.4476 20.6155 18.9091 21.2058C18.2745 21.917 17.9518 22.8261 18.0058 23.7504C18.0508 24.8115 18.5788 25.5255 19.3097 26.5136C19.9946 27.4397 20.6312 28.0571 22.6221 29.8513C22.9811 30.1748 23.3272 30.4898 23.6499 30.7838C24.0875 31.1822 24.4826 31.5418 24.8083 31.8301Z" stroke="#4D4D4C"/>
            </svg>
          li.ui-elements__interactive-item.ui-elements__icon
            .condition Hover
            .flat
              p Меню
              <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="6" width="22" height="2" fill="#4D4D4C"/>
              <rect width="22" height="2" fill="#4D4D4C"/>
              <rect y="12" width="22" height="2" fill="#4D4D4C"/>
              </svg>
            <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="#4D4D4C"/>
            <path d="M26.0134 30.4141C25.6366 30.7573 25.2937 31.0693 25 31.3315C24.7063 31.0693 24.3634 30.7573 23.9866 30.4141C23.6639 30.1202 23.3169 29.8043 22.9569 29.4799C20.9615 27.6817 20.3622 27.096 19.7117 26.2163L19.7117 26.2163C18.9659 25.208 18.5428 24.6137 18.5054 23.7292L18.5054 23.7292L18.505 23.7212C18.459 22.9347 18.7326 22.1557 19.2803 21.5408C19.7418 21.0358 20.3757 20.6841 21.0843 20.5484C21.7768 20.4329 22.4898 20.526 23.1194 20.8122L23.1194 20.8123L23.1278 20.8159C23.7129 21.0691 24.2229 21.4458 24.6183 21.913L25 22.364L25.3817 21.913C25.7771 21.4458 26.2871 21.0691 26.8722 20.8159L26.8723 20.816L26.8807 20.8121C27.5102 20.5258 28.2232 20.4328 28.9156 20.5484C29.6243 20.6841 30.2582 21.0358 30.7197 21.5408C31.2675 22.1558 31.541 22.9348 31.495 23.7212L31.495 23.7212L31.4946 23.7292C31.4572 24.6137 31.0341 25.208 30.2883 26.2163L30.2883 26.2163C29.6378 27.096 29.0385 27.6817 27.0431 29.4799L27.3779 29.8513L27.0431 29.4799C26.6831 29.8043 26.3361 30.1202 26.0134 30.4141Z" fill="#4D4D4C" stroke="#4D4D4C"/>
            <circle cx="43" cy="8" r="8" fill="#F3EFE9"/>
            <path d="M41.027 11V4.7H40.01C39.974 4.94 39.899 5.141 39.785 5.303C39.671 5.465 39.53 5.597 39.362 5.699C39.2 5.795 39.014 5.864 38.804 5.906C38.6 5.942 38.387 5.957 38.165 5.951V6.914H39.749V11H41.027ZM42.833 7.121H44.057C44.057 6.953 44.072 6.785 44.102 6.617C44.138 6.443 44.195 6.287 44.273 6.149C44.351 6.005 44.453 5.891 44.579 5.807C44.711 5.717 44.87 5.672 45.056 5.672C45.332 5.672 45.557 5.759 45.731 5.933C45.911 6.101 46.001 6.338 46.001 6.644C46.001 6.836 45.956 7.007 45.866 7.157C45.782 7.307 45.674 7.442 45.542 7.562C45.416 7.682 45.275 7.793 45.119 7.895C44.963 7.991 44.816 8.087 44.678 8.183C44.408 8.369 44.15 8.552 43.904 8.732C43.664 8.912 43.454 9.11 43.274 9.326C43.094 9.536 42.95 9.776 42.842 10.046C42.74 10.316 42.689 10.634 42.689 11H47.315V9.902H44.336C44.492 9.686 44.672 9.497 44.876 9.335C45.08 9.173 45.29 9.023 45.506 8.885C45.722 8.741 45.935 8.597 46.145 8.453C46.361 8.309 46.553 8.15 46.721 7.976C46.889 7.796 47.024 7.592 47.126 7.364C47.228 7.136 47.279 6.863 47.279 6.545C47.279 6.239 47.219 5.963 47.099 5.717C46.985 5.471 46.829 5.264 46.631 5.096C46.433 4.928 46.202 4.799 45.938 4.709C45.68 4.619 45.407 4.574 45.119 4.574C44.741 4.574 44.405 4.64 44.111 4.772C43.823 4.898 43.583 5.078 43.391 5.312C43.199 5.54 43.055 5.81 42.959 6.122C42.863 6.428 42.821 6.761 42.833 7.121Z" fill="#4D4D4C"/>
            </svg>
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="26" cy="26" r="25" stroke="#4D4D4C"/>
            <path d="M15.7251 26.164V22.758H18.1431C18.8451 22.758 19.3564 22.9053 19.6771 23.2C20.0064 23.486 20.1711 23.9063 20.1711 24.461C20.1711 25.0157 20.0064 25.4403 19.6771 25.735C19.3564 26.0297 18.8451 26.1727 18.1431 26.164H15.7251ZM14.4901 21.718V31H15.7251V27.204H18.5591C19.4951 27.2127 20.2014 26.9743 20.6781 26.489C21.1634 26.0037 21.4061 25.3277 21.4061 24.461C21.4061 23.5943 21.1634 22.9227 20.6781 22.446C20.2014 21.9607 19.4951 21.718 18.5591 21.718H14.4901ZM24.1548 29.96V22.758H26.2348C26.8068 22.758 27.2878 22.8403 27.6778 23.005C28.0678 23.161 28.3841 23.395 28.6268 23.707C28.8781 24.0103 29.0558 24.383 29.1598 24.825C29.2724 25.2583 29.3288 25.7523 29.3288 26.307C29.3288 26.879 29.2681 27.3687 29.1468 27.776C29.0341 28.1747 28.8868 28.5083 28.7048 28.777C28.5228 29.0457 28.3148 29.258 28.0808 29.414C27.8554 29.57 27.6258 29.6913 27.3918 29.778C27.1578 29.856 26.9368 29.908 26.7288 29.934C26.5208 29.9513 26.3474 29.96 26.2088 29.96H24.1548ZM22.9198 21.718V31H26.1048C26.8761 31 27.5434 30.8917 28.1068 30.675C28.6701 30.4583 29.1338 30.1463 29.4978 29.739C29.8618 29.323 30.1304 28.816 30.3038 28.218C30.4771 27.6113 30.5638 26.918 30.5638 26.138C30.5638 24.6473 30.1781 23.538 29.4068 22.81C28.6354 22.082 27.5348 21.718 26.1048 21.718H22.9198ZM32.0731 21.718V31H33.3081V26.749H37.5721V25.709H33.3081V22.758H38.1701V21.718H32.0731Z" fill="#4D4D4C"/>
            </svg>
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="26" cy="26" r="25" transform="rotate(-90 26 26)" stroke="#4D4D4C"/>
            <path d="M24 21L29 26L24 31" stroke="#4D4D4C"/>
            </svg>
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="#4D4D4C"/>
            <path d="M24.8083 31.8301L25 32L25.1917 31.8301C25.5174 31.5418 25.9125 31.1822 26.3501 30.7838C26.6728 30.4898 27.0189 30.1748 27.3779 29.8513C29.3688 28.0571 30.0054 27.4397 30.6903 26.5136C31.4212 25.5255 31.9492 24.8115 31.9942 23.7504C32.0482 22.8261 31.7255 21.917 31.0909 21.2058C30.5524 20.6155 29.8176 20.2108 29.0039 20.0562C28.2126 19.9229 27.3965 20.0282 26.6737 20.357C26.02 20.6399 25.4467 21.0622 25 21.59C24.5533 21.0622 23.98 20.6399 23.3263 20.357C22.6035 20.0284 21.7874 19.9231 20.9961 20.0562C20.1824 20.2108 19.4476 20.6155 18.9091 21.2058C18.2745 21.917 17.9518 22.8261 18.0058 23.7504C18.0508 24.8115 18.5788 25.5255 19.3097 26.5136C19.9946 27.4397 20.6312 28.0571 22.6221 29.8513C22.9811 30.1748 23.3272 30.4898 23.6499 30.7838C24.0875 31.1822 24.4826 31.5418 24.8083 31.8301Z" stroke="#4D4D4C"/>
            </svg>
        .section-content__delimiter
          p Pop-up
          p 04 / 04
        .popup-element
          img(src="./assets/images/neboshill/form.jpg" alt="")

  section.projects
    .section-content__delimiter
      p More projects
      <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.5788 17.1107C8.1018 17.1107 6.08594 15.0947 6.08594 12.6178C6.08594 10.141 8.10191 8.125 10.5788 8.125C13.0556 8.125 15.0716 10.141 15.0716 12.6178C15.0716 15.0947 13.0556 17.1107 10.5788 17.1107Z" stroke="black"/>
      <path d="M0.642531 12.9274L0.642304 12.9272C0.552542 12.8517 0.500072 12.7403 0.5 12.619L0 12.6193H0.5C0.5 12.4983 0.552371 12.3867 0.642497 12.3108L0.642532 12.3108C3.98279 9.49761 7.30016 8.12886 10.5787 8.12891C13.8572 8.12895 17.1745 9.49777 20.5147 12.3107C20.6051 12.3869 20.6575 12.4987 20.6575 12.6193C20.6575 12.74 20.6052 12.8516 20.5149 12.9276C17.1752 15.7401 13.857 17.1094 10.5789 17.1094C7.29989 17.1094 3.98338 15.7411 0.642531 12.9274Z" stroke="black"/>
      <path d="M10.5792 14.8529C9.3478 14.8529 8.34521 13.8502 8.34521 12.6187C8.34521 11.3873 9.34787 10.3848 10.5792 10.3848C11.8106 10.3848 12.8133 11.3875 12.8133 12.6187C12.8133 13.8501 11.8106 14.8529 10.5792 14.8529Z" stroke="black"/>
      <path d="M10.502 1V5.08402" stroke="black" stroke-linecap="round"/>
      <path d="M5.54248 2.45703L7.29278 5.66591" stroke="black" stroke-linecap="round"/>
      <path d="M15.7524 2.45703L14.0021 5.66591" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    .swiper.projects-swiper
      .swiper-wrapper
        .swiper-slide
          a(href="#")
            .swiper__img
              img(class="laptop-bottom" src="./assets/images/neboshill-page/slide1.jpg" alt="")
            p Grand bourget
        .swiper-slide
          a(href="#")
            .swiper__img
              img(class="laptop-bottom" src="./assets/images/neboshill-page/slide2.jpg" alt="")
            p Andriyivsky city space
        .swiper-slide
          a(href="#")
            .swiper__img
              img(class="laptop-bottom" src="./assets/images/neboshill-page/slide1.jpg" alt="")
            p Grand bourget
  .goals-marker(style="display: initial")
    ul.goals-marker__list
      li.goals-marker__item.item-active(data-to="section.goals") ui
      li.goals-marker__item(data-to="section.ux") ux
      li.goals-marker__item(data-to="section.crm") crm
      li.goals-marker__item( data-to="section.crm.crm__admin"  data-end="section.results") ro


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
