.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-h);
  width: 100%;
  padding: 0 var(--page-side-fields);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);
  z-index: 100;
  &__links {
    background-color: var(--color-red);
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 100%;
    padding: 76px 20px 20px 20px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: absolute;
    right: var(--page-side-fields);
    top: 0;
    text-align: right;
    a {
      text-decoration: none;
      color: inherit;
    }
    a:nth-last-child(n+2) {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 1440px) {
  .header {
    &__links {
      padding: 56px 20px 20px 20px;
      font-size: 14px;
      a:nth-last-child(n+2) {
        margin-bottom: 15px;
      }
    }
  } 
}
